<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/mdb.min.css">
<!-- Plugin file -->
<link rel="stylesheet" href="./css/addons/datatables.min.css">
<link rel="stylesheet" href="css/style.css">
<title>Cine</title>

<script type="text/javascript">
  function sololetras(e){
    key = e.keyCode || e.which;
    tecla = String.fromCharCode(key).toString();
    letras ="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRTUVWXYZÁáÉéÍíÓóÚú";
    especiales = [8,13];
    tecla_especial= false;
    for (var i in especiales){
      if (key == especiales[i]){
        tecla_especial = true;
        break;
      }
    }

    if(letras.indexOf(tecla) == -1 && !tecla_especial){
      alert('Solo ingrese letras');
      return false;
    }
  }
</script>
<script type="text/javascript">
  function correo(e){
    key = e.keyCode || e.which;
    tecla = EMAIL.fromCharCode(key).toString();
    letras ="abcdefghijklmnopqrstuvwxyz1234567890!#$%&'*+-=?^_`{|}~@.[]";
    especiales = [8,13];
    tecla_especial= false;
    for (var i in especiales){
      if (key == especiales[i]){
        tecla_especial = true;
        break;
      }
    }

    if(letras.indexOf(tecla) == -1 && !tecla_especial){

      return false;
    }
  }
</script>
<style>
.obligatorio{
	border-color: #FF0000;
}
</style>
</head>

<body>
	<nav class="navbar navbar-dark bg-dark justify-content-between">
		<a class="navbar-brand" href="./nuevoArtista.php">Cine - Nuevo Artista</a>
    </nav>
	<div>
<table class="table">
	<form name="form1" action="./guardarArtista.php" method="post">
	<caption>
		<div><font color="#FF0000"><strong>* Complete el campo</strong></font></div>
	</caption>
		<tr>
		  <th class="th-sm"><strong>Nombre:</strong>
          <input minlength="4" maxlength="50" type="text" name="ar_nombre" id="ar_nombre" onkeypress="return sololetras(event)"  onpaste="return false"  value=""/>
      </th>
      <th class="th-sm"><strong>Apellido</strong>
         <input minlength="4" maxlength="50" type="text" name="ar_apellido" id="ar_apellido" onkeypress="return sololetras(event)" onpaste="return false" value=""/>
      </th>
      <th class="th-sm"><strong>DNI</strong>
        <input minlength="8" maxlength="8" type="INT" name="ar_dni" id="ar_dni" value="">
      </th>
      <th class="th-sm"><strong>EMAIL</strong>
        <input minlength="4" maxlength="50" type="email" name="ar_mail" id="ar_mail" onkeypress="return correo(event)" onpaste="return false" value/>
      </th>
      <th>
        <input type="submit" name="botonAceptar" value="Aceptar" class="btn btn-success btn-md my-2 my-sm-0 ml-3"></input>
		  <input type="reset" value="Limpiar Campo" class="btn btn-info btn-md my-2 my-sm-0 ml-3"></input>
		</th>
		<th><i class="fas fa-arrow-circle-left fa-lg" onclick="javascript:window.location.href = './listadoArtista.php';" style='float: right'>&nbspVolver</i></th>
  </tr>

</table>
</div>
<br/>
<br/>
</form>
<!-- START BLOCK : mensaje -->
              <div>{mensaje_tipo}</div>
<!-- END BLOCK : mensaje -->
</body>
</html>
